.imagePrincipale {
  grid-area: imagePrincipale;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.pregnant {
  grid-area: pregnant;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.birth {
  grid-area: birth;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.baby {
  grid-area: baby;
  width: 100vw;
  padding: 0;
  margin: 0;
}
